

body {
  background:rgb(221, 92, 221); 
  /* changing the color to purple */
}
form {
  width: 30%; // changed the width
  margin: 60px auto; // changed the margin
  background: rgb(233, 232, 187); // changed the color
  padding: 60px 120px 80px 120px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

.label-txt {
  position: absolute;
  top: -1.6em;
  padding: 10px;
  font-family: sans-serif;
  font-size: .8em;
  letter-spacing: 1px;
  color: rgba(248, 0, 95, 0.973);
  transition: ease .3s;
}
.input {
  width:  130%; /*increasing width that placeholder should be visible  */
  padding: 10px;
  background: transparent;

}

.line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #BCBCBC;
}

.line {
  position: absolute;

  height: 2px;

  left: 50%;
  transform: translateX(-50%);
  background: silver; // silver is lighter than the black, so it will suit better.
  transition: ease .6s;
}


.label-active {
  top: -3em;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background: rgb(200,200,200);
  font-weight: bold;
  color: rgb(51, 45, 45); /*changed color to black */

  border-radius: 3px;
  cursor: pointer;
  transition: ease .5s;
}

